@{
    ViewData["Title"] = "Home Page";
}
    <section style="margin: 0px;">
        <div class="banner-index text-center">
            <img src="~/imagens/banner.jpg" >
        </div>
    </section> 

